# Ignore ssd
pytorch_ssd

# Ignore all model files
*.h5

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

#Ignore all images
*.png
*.jpg

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

./output/*
./dataset/*
